 * {
     box-sizing: border-box;
     font-family: 'Times New Roman', Times, serif;
     color: rgb(88, 79, 79)
 }
 
 .nav ul {
     margin: 0;
     border: 1px solid black;
 }
 
 .nav ul {
     display: inline;
     border: 1px solid black;
 }
 
 .nav a {
     display: inline-block;
     padding: .5em;
     color: white;
     text-decoration: none;
     border: 1px solid black;
 }
 
 .main-nav {
     text-align: center;
     font-size: 1.1em;
     font-weight: lighter;
     border-bottom: 1px solid gray;
     border: 1px solid black;
 }
 
 .main-nav li {
     padding: 0 5%;
     border: 1px solid black;
 }
 
 .nav a:hover {
     background-color: rgb(70, 65, 65);
 }
 
 h1 {
     color: rgb(47, 82, 47);
     border: 1px solid black;
 }
 
 p {
     color: black;
     border: 1px solid black;
 }
 
 .main-header {
     background-image: url("psyced\ skin.jpg");
     text-align: center;
     padding-bottom: 30px;
     background-size: cover;
     border: 1px solid black;
 }
 
 .topnav {
     background-color: black;
 }
 
 .column {
     background-color: white;
     border: 1px solid black;
 }
 
 .footer {
     background-color: aqua;
     border: 1px solid black;
 }
 
 .website-name {
     text-align: center;
     margin: 0;
     font-size: 4em;
     font-family: "Helvetica";
     font-weight: normal;
     color: white;
     border: 1px solid black;
 }
 
 .website-name-large {
     font-size: 8em;
     border: 1px solid black;
 }
 
 .content-section {
     margin: 1em;
     border: 1px solid black;
 }
 
 .rectangle {
     display: inline-block;
     width: 100px;
     height: 200px;
     /*border: 1px solid black;*/
 }
 
 .container {
     max-width: 900px;
     margin: 0 auto;
     padding: 0 1.5em;
     border: 1px solid black;
 }
 
 .section-header {
     font-family: 'Times New Roman', Times, serif;
     font-weight: normal;
     color: black;
     text-align: center;
     font-size: 2.5em;
     border: 1px solid black;
 }
 
 .about-soap-image {
     float: left;
     height: 200px;
     width: 200px;
     margin: 10px;
     border-radius: 50%;
 }
 
 .main-footer {
     background-color: lightblue;
     color: white;
     padding: .25em 0;
     border: 1px solid black;
 }
 
 .main-footer-container {
     display: flex;
     align-items: center;
     border: 1px solid black;
 }
 
 .n-footer-container ul {
     flex-grow: 1;
     text-align: end;
     border: 1px solid black;
 }
 
 .footer-nav li {
     padding: 0 .5em;
     border: 1px solid black;
 }
 
 .footer-nav img {
     width: 30px;
     height: 30px;
     border: 1px solid black;
 }